.MuiDrawer-paperAnchorBottom {
    max-width: 450px;
    top:auto;
    left: 40%;
    right: auto;
    bottom: 20px;
    height: auto;
    max-height: 100%;
    border-radius: 30px;
}
.info__img {
    max-width:250px;
    max-height: 280px;
    z-index:1;

}
.info__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info__type{
    width: auto;
    display: flex;
}

@media (max-width: 800px) {
    .MuiDrawer-paperAnchorBottom{
        margin: 0 auto;

    /*     max-width: 400px;
        top:auto;
        left: auto;
        right: auto;
        bottom: auto;
        height: auto;
        max-height: 100%;
        border-radius: 30px;
  */

    }
    
}